[Unit]
Description=PF Arena Mini-Game
After=network.target

[Service]
Type=simple
User=htoot
Group=htoot
ExecStart=/home/olad/progs/cl/web-arena/run-arena
ExecStop=telnet localhost 6440
Restart=on-failure

TimeoutSec=300

[Install]
WantedBy=default.target
